
*{  
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(151, 199, 241);
}
header{
    background-color: rgb(244, 230, 137);
    color: black;
    font-family: serif;
    text-align: center;
    padding-top:10px ;
    padding-bottom: 10px;
    font-size: 46px;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    background-color: white;
    font-size: 20px;
   
}
th{
    background-color: black;
    color: white;
}
.tbl{
    margin: 100px;
}

